# 1.Importing Libraries

In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

# 2.Intially Data Ingestion

In [2]:
df=pd.read_csv("Dataset_Update_Cleaned.csv")

In [3]:
df.head()

,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,City,Population,Referred a Friend,...,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Customer Status,Churn Label,Churn Score,CLTV
0,Male,78,No,Yes,No,No,0,Los Angeles,68701,No,...,39.65,0.00,20,0.00,59.65,3,Churned,Yes,91,5433
1,Female,74,No,Yes,Yes,Yes,1,Los Angeles,55668,Yes,...,633.30,0.00,0,390.80,1024.10,3,Churned,Yes,69,5302
2,Male,71,No,Yes,No,Yes,3,Los Angeles,47534,No,...,1752.55,45.61,0,203.94,1910.88,2,Churned,Yes,81,3179
3,Female,78,No,Yes,Yes,Yes,1,Inglewood,27778,Yes,...,2514.50,13.43,0,494.00,2995.07,2,Churned,Yes,88,5337
4,Female,80,No,Yes,Yes,Yes,1,Whittier,26265,Yes,...,2868.15,0.00,0,234.21,3102.36,2,Churned,Yes,67,2793

In [4]:
df.tail()

,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,City,Population,Referred a Friend,...,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Customer Status,Churn Label,Churn Score,CLTV
7038,Female,30,No,No,No,No,0,Landers,2182,No,...,1419.40,19.31,0,1639.44,3039.53,5,Stayed,No,45,5306
7039,Male,38,No,No,Yes,Yes,2,Adelanto,18980,Yes,...,1990.50,48.23,0,865.20,2807.47,3,Stayed,No,59,2140
7040,Female,30,No,No,Yes,Yes,2,Amboy,42,Yes,...,7362.90,45.38,0,2135.52,9453.04,4,Stayed,No,71,5560
7041,Female,32,No,No,Yes,Yes,2,Angelus Oaks,301,Yes,...,346.45,27.24,0,0.00,319.21,4,Stayed,No,59,2793
7042,Male,44,No,No,No,No,0,Apple Valley,28819,No,...,6844.50,0.00,0,2043.36,8887.86,4,Stayed,No,38,5097

# 3.Classified Categorical abd Numerical Column

In [5]:
numerical_columns = df.columns[df.dtypes!="object"]
categorical_columns = df.columns[df.dtypes=="object"]
print(f"Numerical_Columns :{numerical_columns}")
print(f"Categorical_Columns :{categorical_columns}")

Numerical_Columns :Index(['Age', 'Number of Dependents', 'Population', 'Number of Referrals',
       'Tenure in Months', 'Avg Monthly Long Distance Charges',
       'Avg Monthly GB Download', 'Monthly Charge', 'Total Charges',
       'Total Refunds', 'Total Extra Data Charges',
       'Total Long Distance Charges', 'Total Revenue', 'Satisfaction Score',
       'Churn Score', 'CLTV'],
      dtype='object')
Categorical_Columns :Index(['Gender', 'Under 30', 'Senior Citizen', 'Married', 'Dependents', 'City',
       'Referred a Friend', 'Offer', 'Phone Service', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Online Security', 'Online Backup',
       'Device Protection Plan', 'Premium Tech Support', 'Streaming TV',
       'Streaming Movies', 'Streaming Music', 'Unlimited Data', 'Contract',
       'Paperless Billing', 'Payment Method', 'Customer Status',
       'Churn Label'],
      dtype='object')

# 4.Checking Unique Type of Dataset in Categoricl Column

In [6]:
# Initialize an empty dictionary to store unique types for each ccategorical_columns
unique_types = {}

# Loop through each categorical column
for column in categorical_columns:
    # Get unique types in the column
    unique_values = df[column].unique()
    unique_types[column] = unique_values

# Display the unique types for each categorical column
for column, unique_values in unique_types.items():
    print(f"Column: {column}")
    print(f"Unique Values: {unique_values}")
    print("-"*120)

Column: Gender
Unique Values: ['Male' 'Female']
------------------------------------------------------------------------------------------------------------------------
Column: Under 30
Unique Values: ['No' 'Yes']
------------------------------------------------------------------------------------------------------------------------
Column: Senior Citizen
Unique Values: ['Yes' 'No']
------------------------------------------------------------------------------------------------------------------------
Column: Married
Unique Values: ['No' 'Yes']
------------------------------------------------------------------------------------------------------------------------
Column: Dependents
Unique Values: ['No' 'Yes']
------------------------------------------------------------------------------------------------------------------------
Column: City
Unique Values: ['Los Angeles' 'Inglewood' 'Whittier' ... 'Topaz' 'Jacumba' 'Holtville']
------------------------------------------------------------------------------------------------------------------------
Column: Referred a Friend
Unique Values: ['No' 'Yes']
------------------------------------------------------------------------------------------------------------------------
Column: Offer
Unique Values: [nan 'Offer E' 'Offer D' 'Offer C' 'Offer B' 'Offer A']
------------------------------------------------------------------------------------------------------------------------
Column: Phone Service
Unique Values: ['No' 'Yes']
------------------------------------------------------------------------------------------------------------------------
Column: Multiple Lines
Unique Values: ['No' 'Yes']
------------------------------------------------------------------------------------------------------------------------
Column: Internet Service
Unique Values: ['Yes' 'No']
------------------------------------------------------------------------------------------------------------------------
Column: Internet Type
Unique Values: ['DSL' 'Fiber Optic' 'Cable' nan]
------------------------------------------------------------------------------------------------------------------------
Column: Online Security
Unique Values: ['No' 'Yes']
------------------------------------------------------------------------------------------------------------------------
Column: Online Backup
Unique Values: ['No' 'Yes']
------------------------------------------------------------------------------------------------------------------------
Column: Device Protection Plan
Unique Values: ['Yes' 'No']
------------------------------------------------------------------------------------------------------------------------
Column: Premium Tech Support
Unique Values: ['No' 'Yes']
------------------------------------------------------------------------------------------------------------------------
Column: Streaming TV
Unique Values: ['No' 'Yes']
------------------------------------------------------------------------------------------------------------------------
Column: Streaming Movies
Unique Values: ['Yes' 'No']
------------------------------------------------------------------------------------------------------------------------
Column: Streaming Music
Unique Values: ['No' 'Yes']
------------------------------------------------------------------------------------------------------------------------
Column: Unlimited Data
Unique Values: ['No' 'Yes']
------------------------------------------------------------------------------------------------------------------------
Column: Contract
Unique Values: ['Month-to-Month' 'One Year' 'Two Year']
------------------------------------------------------------------------------------------------------------------------
Column: Paperless Billing
Unique Values: ['Yes' 'No']
------------------------------------------------------------------------------------------------------------------------
Column: Payment Method
Unique Values: ['Bank Withdrawal' 'Credit Card' 'Mailed Check']
------------------------------------------------------------------------------------------------------------------------
Column: Customer Status
Unique Values: ['Churned' 'Stayed' 'Joined']
------------------------------------------------------------------------------------------------------------------------
Column: Churn Label
Unique Values: ['Yes' 'No']
------------------------------------------------------------------------------------------------------------------------

In [8]:
df.head()

,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,City,Population,Referred a Friend,...,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Customer Status,Churn Label,Churn Score,CLTV
0,Male,78,No,Yes,No,No,0,Los Angeles,68701,No,...,39.65,0.00,20,0.00,59.65,3,Churned,Yes,91,5433
1,Female,74,No,Yes,Yes,Yes,1,Los Angeles,55668,Yes,...,633.30,0.00,0,390.80,1024.10,3,Churned,Yes,69,5302
2,Male,71,No,Yes,No,Yes,3,Los Angeles,47534,No,...,1752.55,45.61,0,203.94,1910.88,2,Churned,Yes,81,3179
3,Female,78,No,Yes,Yes,Yes,1,Inglewood,27778,Yes,...,2514.50,13.43,0,494.00,2995.07,2,Churned,Yes,88,5337
4,Female,80,No,Yes,Yes,Yes,1,Whittier,26265,Yes,...,2868.15,0.00,0,234.21,3102.36,2,Churned,Yes,67,2793

# Handling Missing Value

In [9]:
most_frequent=df['Internet Type'].mode()[0]
df['Internet Type'].fillna(most_frequent,inplace=True)

In [10]:
df['Offer']=df['Offer'].fillna('No Offer')

In [11]:
df.isnull().sum()

Gender                               0
Age                                  0
Under 30                             0
Senior Citizen                       0
Married                              0
Dependents                           0
Number of Dependents                 0
City                                 0
Population                           0
Referred a Friend                    0
Number of Referrals                  0
Tenure in Months                     0
Offer                                0
Phone Service                        0
Avg Monthly Long Distance Charges    0
Multiple Lines                       0
Internet Service                     0
Internet Type                        0
Avg Monthly GB Download              0
Online Security                      0
Online Backup                        0
Device Protection Plan               0
Premium Tech Support                 0
Streaming TV                         0
Streaming Movies                     0
Streaming Music                      0
Unlimited Data                       0
Contract                             0
Paperless Billing                    0
Payment Method                       0
Monthly Charge                       0
Total Charges                        0
Total Refunds                        0
Total Extra Data Charges             0
Total Long Distance Charges          0
Total Revenue                        0
Satisfaction Score                   0
Customer Status                      0
Churn Label                          0
Churn Score                          0
CLTV                                 0
dtype: int64

# Convert Categorical Column into Numerical Column Using Ordinal Encoder

In [13]:
from sklearn.preprocessing import OrdinalEncoder

# Initialize the OrdinalEncoder
encoder = OrdinalEncoder()

# Fit and transform the 'Gender' column
df['Gender'] = encoder.fit_transform(df[['Gender']])
df['Under 30'] = encoder.fit_transform(df[['Under 30']])
df['Senior Citizen'] = encoder.fit_transform(df[['Senior Citizen']])
df['Married']=encoder.fit_transform(df[['Married']])
df['Dependents'] = encoder.fit_transform(df[['Dependents']])
df['Referred a Friend']=encoder.fit_transform(df[['Referred a Friend']])
df['Phone Service']=encoder.fit_transform(df[['Phone Service']])
df['Multiple Lines']=encoder.fit_transform(df[['Multiple Lines']])
df['Internet Service']=encoder.fit_transform(df[['Internet Service']])
df['Online Backup']=encoder.fit_transform(df[['Online Backup']])
df['Online Security']=encoder.fit_transform(df[['Online Security']])
df['Device Protection Plan']=encoder.fit_transform(df[['Device Protection Plan']])
df['Premium Tech Support'] =encoder.fit_transform(df[['Premium Tech Support']])
df['Streaming TV'] =encoder.fit_transform(df[['Streaming TV']])
df['Streaming Music'] =encoder.fit_transform(df[['Streaming Music']])
df['Streaming Movies'] =encoder.fit_transform(df[['Streaming Movies']])
df['Unlimited Data'] =encoder.fit_transform(df[['Unlimited Data']])
df['Paperless Billing'] =encoder.fit_transform(df[['Paperless Billing']])
df['Churn Label'] = encoder.fit_transform(df[['Churn Label']])

# View unique Value after handling the Missing Values

In [14]:
# Inspect unique values in the columns
customer_status_unique = df['Customer Status'].unique()
internet_type_unique = df['Internet Type'].unique()
offer_unique = df['Offer'].unique()
Contract_unique=df['Contract'].unique()
Payment_Method=df['Payment Method'].unique()
print("Customer Status Unique Values:", customer_status_unique)
print("Internet Type Unique Values:", internet_type_unique) ## handle missing value then ordinal encoding
print("Offer Unique Values:", offer_unique)
print("Contract_unique:",Contract_unique)
print("Payment_Method:",Payment_Method) ## We can drop it
# Instantiate the OrdinalEncoder
ordinal_encoder = OrdinalEncoder()

# Apply the ordinal encoder to the specified columns
df[['Customer Status', 'Internet Type', 'Offer','Contract', 'Payment Method']] = ordinal_encoder.fit_transform(
    df[['Customer Status', 'Internet Type', 'Offer','Contract', 'Payment Method']])

Customer Status Unique Values: ['Churned' 'Stayed' 'Joined']
Internet Type Unique Values: ['DSL' 'Fiber Optic' 'Cable']
Offer Unique Values: ['No Offer' 'Offer E' 'Offer D' 'Offer C' 'Offer B' 'Offer A']
Contract_unique: ['Month-to-Month' 'One Year' 'Two Year']
Payment_Method: ['Bank Withdrawal' 'Credit Card' 'Mailed Check']

In [15]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OneHotEncoder # Ordinal Encoding and OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [16]:
numerical_columns = df.columns[df.dtypes!="object"]
categorical_columns = df.columns[df.dtypes=="object"]

In [17]:
categorical_columns

Index(['City'], dtype='object')

In [18]:
city_target_mean = df.groupby('City')['Churn Label'].mean()
df['City'] = df['City'].map(city_target_mean)

In [19]:
df.head()

,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,City,Population,Referred a Friend,...,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Customer Status,Churn Label,Churn Score,CLTV
0,1.0,78,0.0,1.0,0.0,0.0,0,0.266212,68701,0.0,...,39.65,0.00,20,0.00,59.65,3,0.0,1.0,91,5433
1,0.0,74,0.0,1.0,1.0,1.0,1,0.266212,55668,1.0,...,633.30,0.00,0,390.80,1024.10,3,0.0,1.0,69,5302
2,1.0,71,0.0,1.0,0.0,1.0,3,0.266212,47534,0.0,...,1752.55,45.61,0,203.94,1910.88,2,0.0,1.0,81,3179
3,0.0,78,0.0,1.0,1.0,1.0,1,0.200000,27778,1.0,...,2514.50,13.43,0,494.00,2995.07,2,0.0,1.0,88,5337
4,0.0,80,0.0,1.0,1.0,1.0,1,0.166667,26265,1.0,...,2868.15,0.00,0,234.21,3102.36,2,0.0,1.0,67,2793

# Independent and dependent features

In [20]:
## Independent and dependent features
X = df.drop(labels=['Churn Label'],axis=1)
Y = df[['Churn Label']]

In [21]:
Y

      Churn Label
0             1.0
1             1.0
2             1.0
3             1.0
4             1.0
...           ...
7038          0.0
7039          0.0
7040          0.0
7041          0.0
7042          0.0

[7043 rows x 1 columns]

In [22]:
X.shape

(7043, 40)

# Train And Test Split

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=30)

In [24]:
X_train.shape,X_test.shape

((4930, 40), (2113, 40))

In [25]:
import pickle

In [26]:
def scaler_Standard(X_train,X_test):
    scaler=StandardScaler()
    X_train_scaled=scaler.fit_transform(X_train)
    X_test_scaled=scaler.transform(X_test)
    
    ## Saving the model
    
    file=open('standardScaler.pkl','wb')
    pickle.dump(scaler,file)
    file.close()

    return X_train_scaled,X_test_scaled

In [27]:
X_train_scaled,X_test_scaled=scaler_Standard(X_train,X_test)

In [28]:
X_train_scaled

array([[-1.00162404, -0.87005744, -0.50095063, ...,  0.68395205,
        -0.64724696, -0.22600245],
       [ 0.9983786 , -1.40693873,  1.99620469, ...,  0.68395205,
         0.96079738, -1.43940467],
       [-1.00162404,  1.33712117, -0.50095063, ...,  0.68395205,
        -0.97831491, -1.82085589],
       ...,
       [ 0.9983786 ,  0.14405165, -0.50095063, ...,  0.68395205,
        -0.31617901, -1.57413358],
       [ 0.9983786 , -1.64555263,  1.99620469, ..., -0.44945421,
         0.86620653, -1.57834386],
       [-1.00162404,  1.03885379, -0.50095063, ...,  0.68395205,
        -1.68774623,  0.13860766]])

# Model Training

In [29]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [30]:
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [31]:
regression.coef_

array([[-4.46816468e-03,  4.58795176e-04,  8.96863850e-03,
        -4.71877913e-04,  1.48787041e-02, -8.78248871e-03,
         4.63667910e-03,  5.47994627e-02, -1.60487995e-08,
        -6.43502526e-04, -1.89878127e-03,  3.10807279e-03,
         2.21401616e-03, -2.80520690e-02, -4.52689203e-05,
         5.17945189e-03, -1.54621807e-02, -1.01060614e-03,
         7.13450454e-05, -2.51521416e-02, -6.37431413e-03,
         2.02483077e-03, -2.14721033e-03,  1.03645504e-03,
        -1.97891440e-02,  1.89324695e-02,  6.70676288e-03,
         5.22111114e-04,  1.03040026e-02,  8.26879885e-04,
         1.51801708e-03, -6.54611521e-06,  1.65442352e-04,
         1.21992076e-04,  2.72383870e-05, -2.27580029e-05,
        -4.20397669e-02, -4.21306133e-01,  1.52197066e-03,
        -4.25835731e-06]])

In [32]:
regression.intercept_

array([0.78026842])

In [34]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

# Train multiple models

In [36]:

## Model Ecaluation
models={
    'LinearRegression':LinearRegression(),
    'Ridge':Ridge(),
}
trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 0.10283777630566457
MAE: 0.0658538469820303
R2 score 94.44118954039487
===================================


Ridge
Model Training Performance
RMSE: 0.10283701900835938
MAE: 0.06588405699330138
R2 score 94.44127141024528
===================================

# We can say that our dataset is a Classification Type data